.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  // TH không khai báo biến thì lấy mặc định là 60
  height: var(--default-layout-header-height, 60);
  // rgb(0 0 0 / 12%) sẽ tương đương với rgba(0, 0, 0, 0.12)
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  display: flex;
  padding: 0 var(--default-layout-horizontal-spacer);
  align-items: center;
  justify-content: space-between;
  width: var(--default-layout-width);
}

// Actions
.actions {
  display: flex;
  align-items: center;
}

.more-btn {
  cursor: pointer;
  font-size: 2rem;
  padding: 4px 8px;
  margin-left: 28px;
  background-color: transparent;
}

.action-btn {
  display: flex;
  cursor: pointer;
  color: #161823;
  font-size: 2.2rem;
  padding: 4px 10px;
  position: relative;
  background-color: transparent;
}

.badge {
  right: 0;
  top: -3px;
  height: 2rem;
  padding: 0 6px;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2rem;
  position: absolute;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--primary);
  font-family: var(--font), sans-serif;
}

.user-avatar {
  width: 32px;
  height: 32px;
  cursor: pointer;
  object-fit: cover;
  margin-left: 14px;
  border-radius: 50%;
}
